.checkout {
    display: flex;
}

.checkout__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.checkout__left {

}

.checkout__right {
    
}

.checkout__ad {
    display: block;
    margin: auto;
    margin-bottom: 10px;
}